<%
    require 'tzinfo'

    timezone = TZInfo::Timezone.get('Europe/Warsaw')
    offset_in_hours = timezone.current_period.utc_total_offset / 3600
    offset = '%+.2d:00' % offset_in_hours
    time = Time.now.getlocal(offset)
%>

<section id="tickets">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h3>Tickets</h3>
            <p class="mb-1">
                Get yours while they're still available.
            </p>
            <p class="mb-1">
                Workshop ticket doesn't include a conference one.
            </p>
        </div>
        <div class="card-deck">
            <% data.tickets.sort_by(&:last_month).each do |t| %>
                <%= partial(:ticket, :locals => { :current_time => time, :ticket => t }) %>
            <% end %>
        </div>
        <div class="card-deck">
            <div class="card text-center special inactive">
                <div class="card-header">
                    <h5 class="card-title">Workshops</h5>
                    <h6 class="card-subtitle">1199</h6>
                    <span><%= 1199 * 1.23 %> PLN with VAT</span>
                </div>
                <div class="card-body empty">
                    <!-- Extend your experience with pre-conference, full day, hands-on workshops. Does not include a conference ticket.--> 
                </div>
                <div class="card-footer">
                    Available later 
                </div>
            </div>
            <div class="card text-center inactive">
                <div class="card-header">
                    <h5 class="card-title">Diversity Ticket</h5>
                    <h6 class="card-subtitle">499</h6>
                    <span><%= 499 * 1.23 %> PLN with VAT</span>
                </div>
                <div class="card-body empty">
                    <!--Bring a friend from an underrepresented minority to the conference and get tickets with a Blind price each with the code <strong>DVC20_Diversity</strong>.
                    <a class="external-link" href="https://medium.com/@devconfPL/striving-for-diversity-8382f2558c59">read more</a>-->
                </div>
                <div class="card-footer">
                    Available later
                </div>
            </div>
            <div class="card text-center wide inactive">
                <div class="card-header fixed-height">
                    <h5 class="card-title">Group Tickets</h5>
                    <p>Looking for group discounts?</p>
                    <p>Bring your peers and pay less.</p>
                </div>
                <div class="card-body empty"><!--
                    <ul>
                        <li><strong>DVC20_GROUP5</strong> - gives 5% off for 5+ attendees</li>
                        <li><strong>DVC20_GROUP10</strong> - gives 7% off for 10+ attendees</li>
                        <li><strong>DVC20_GROUP20</strong> - gives 10% off for 20+ attendees</li>
                    </ul>
                    <p class="alt-text">
                        Discounts do not add up.
                    </p>-->
                </div>
                <div class="card-footer">
                    Available later
                </div>
            </div>
        </div>
        <p>
            * Excluding 23% VAT
        </p>
    </div>
</section>